[2015-06-01 14:21] alecxe opened #3 "Enforce the uniqueness of a suite title"
From time to time while reviewing the changes brought by other testers in the team, I'm seeing a copy-paste error - the describe name for a newly implemented test does not correspond to what is actually tested and repeats the name of another describe block somewhere inside the test directory.

For example (artificial):

[code]

Here, the second suite should be called `Testing password validation`,

[2015-06-01 16:26] tlvince commented on #3
Sounds good to me! Feel free to send a PR if you can come up with something :smile:

[2015-06-21 00:40] alecxe opened #5 "Enforce one assertion per test"
Would it be a good idea to have `eslint-plugin-jasmine` report if there are more than one `expect()` calls per `it()` block? (http://blog.jayfields.com/2007/06/testing-one-assertion-per-test.html)

Thanks.

[2015-07-12 20:07] #3 closed

[2015-07-12 20:19] tlvince commented on #5
Nice idea. I've added the "help wanted" tag in case someone likes to get started on a pull request.

[2015-07-12 20:28] alecxe commented on #3
Thank you very much for making it happen!

[2015-07-13 01:45] alecxe commented on #5
Thanks! Do you think it makes sense to make the number of `expect()` per `it()` configurable, or just force it to no more than 1?

[2015-07-27 20:53] reintroducing opened #6 "no-suite-dupes should have nesting options"
Thanks for this plugin, it's proven useful already in using ESLint with conjunction with our test suite.

I'm not really sure how to best say this because I'm new to unit testing altogether but normally we are writing our tests with a suite like this:

[code]

We then have another set of tests in a different file for a different view:

[code]

These are backbone views and we are testing some of th

[2015-07-30 10:52] ArnaudRinquin commented on #6
I definitely agree with this. In a large application is common to have the same `describe` names.

I'll see what I can do.

[2015-07-30 19:02] tlvince commented on #6
@reintroducing are you finding that `no-suite-dupes` is triggering when the same suite name (`describe`) is used in different *files*?

I can reproduce this by writing duplicate suites in the same file, but not spanned over multiple files.

[2015-07-30 19:08] tlvince commented on #5
I wouldn't personally use such a configuration, but it seems trivial to include if it's useful for people.

[2015-07-30 19:16] #6 closed

[2015-07-30 19:19] tlvince opened #8 "Add no-spec-dupes rule"
Following #7, we should add a rule that checks for duplicate specs (`it` blocks).

The guts of [no-suite-dupes](https://github.com/tlvince/eslint-plugin-jasmine/blob/19f5b656d968a00d9ce275a4914fefcf45d42a73/lib/rules/no-suite-dupes.js) should be extracted out into `lib` for reuse here.

[2015-07-30 19:20] reintroducing commented on #6
This was happening over different files. The two examples I gave above are from two separate files.

[2015-07-30 19:24] tlvince opened #9 "Fix npm deployment"
See https://travis-ci.org/tlvince/eslint-plugin-jasmine/builds/73438214#L223

[2015-07-31 09:17] ArnaudRinquin commented on #9
Still not published? Should we deliver the feature manually and fix the `npm` publishing in a second step?

[2015-08-02 15:07] ArnaudRinquin commented on #8
I can take care of that one.

[2015-08-06 09:52] #9 closed

[2015-08-06 10:06] #8 closed

[2015-08-10 15:01] ArnaudRinquin commented on #5
I could quite easily do that. The maximum count and the watched function names could be part of the configuration.

[2015-08-25 18:22] remcohaszing opened #11 "Tests fail"
I would like to add a new rule which enforces to make an expectation in an `it` block.

However, an existing test failed after cloning the repository and running `npm install` and `npm test`.

[code]

[2015-08-30 12:05] tlvince opened #12 "Update to ESLint v1.x"

[2015-08-30 12:07] #11 closed

[2015-09-01 18:35] #12 closed

[2015-09-02 15:49] mik01aj opened #14 "Detecting describe(function (done) { ... })"
I originally reported an issue in Jasmine: https://github.com/jasmine/jasmine/issues/896 but now I think it would be actually more appropiate here.

[2015-09-03 08:17] tlvince commented on #14
Good idea.

Do you know if there's any case when passing a argument to `describe` is valid? (I've not seen one myself). Otherwise, we could simply test on `if (arguments.length) { return 'fail' }`.

[2015-09-03 08:34] mik01aj commented on #14
It is, afaik, always invalid.

[2015-09-03 08:37] mik01aj opened #15 "Detect test scenarios using promises and not using done callback"
[code]

This test, when run, will pass, but some other test later will fail. This is the correct, fixed version:

[code]

[2015-09-03 08:39] mik01aj commented on #15
The same is also true for usages of (non-mocked!) `setTimeout`.

[2015-09-03 09:03] mik01aj commented on #15
Looks like https://www.npmjs.com/package/eslint-plugin-should-promised does something similar, you might borrow some code there.

[2015-09-03 09:30] tlvince commented on #15
eslint-plugin-mocha has [a rule](https://github.com/lo1tuma/eslint-plugin-mocha/blob/master/lib/rules/handle-done-callback.js) for this, which should be trivial to port.

However, as mentioned in https://github.com/lo1tuma/eslint-plugin-mocha/issues/24, I'd like to see some form of extracted core so we don't end up reimplementing the same thing.

[2015-09-03 11:13] mik01aj commented on #15
@tlvince it is similar (and sure a great idea as well), but my example is different because there is no done argument in the function given to `it`. If I had the `done` argument but didn't use it, I would get a warning from [`no-unused-vars`](http://eslint.org/docs/rules/no-unused-vars.html).

[2015-10-10 10:14] #14 closed

[2015-10-12 06:22] mastertinner opened #18 "Add version to package.json"
Please add the version property to package.json as specified in https://docs.npmjs.com/files/package.json#version

[2015-10-12 11:35] tlvince commented on #18
I use [semantic-release](https://github.com/semantic-release/semantic-release) to publish this package, which explicitly removes the `version` property from the source, but restores during an npm release.

[2015-10-12 11:35] #18 closed

[2015-10-13 18:30] mastertinner commented on #18
Sorry, I didn't know about that tool. Thanks for clarifying and for the quick reply!

[2015-11-04 15:57] krymen opened #21 "Error after upgrading to version 1.5.1"
After upgrading to v1.5.1 and running `lint` I get an error:
[code]

[2015-11-04 17:18] tlvince commented on #21
Hmm, I can't reproduce. Would you mind posting your `.eslintrc`, eslint version and your test file?

Alternatively, you could try modifying `/home/krymen/workspace/my-project/ui/node_modules/eslint-plugin-jasmine/lib/prohibit.js:8` with:

[code]

[2015-11-04 17:19] tlvince commented on #21
/cc @ganimomer

[2015-11-04 17:31] krymen commented on #21
It fails on every file I believe. Here is `.eslintrc`:
[code]

[2015-11-04 17:41] #21 closed

[2015-11-04 17:41] tlvince commented on #21
Not sure, but added that conditional. Will land in 1.5.2 shortly. Thanks!

[2015-11-04 17:45] krymen commented on #21
Thanks! But still -- you missed a test proving that your fix works.

[2015-11-04 17:49] tlvince opened #22 "Add a CallExpression condition test for v1.5.2"
See #21.

Missing coverage for https://github.com/tlvince/eslint-plugin-jasmine/commit/a2e081e4edeb09584bc3be88278dd497eaae70f9

[2015-11-04 17:49] tlvince commented on #21
See #22. :wink: Short on time right now.

[2015-11-04 17:52] krymen commented on #21
Cool! ;)

[2015-11-04 20:41] alecxe opened #23 "expect() with no actual expectations"
The problem and a custom eslint rule implementation can be found here: http://stackoverflow.com/questions/33470377/expect-with-no-actual-expectations.

To summarize, do you think we can add a new jasmine eslint rule that would catch:

* more than 1 argument passed to `expect()`
* there was nothing called on `expect()`

Example violations:

[code]

Please let me know if it makes sense to make this

[2015-11-04 21:54] tlvince commented on #23
That sounds like a useful feature. Happy to include.

[2015-11-05 20:54] tlvince commented on #23
Closed by #24.

[2015-11-05 20:54] #23 closed

[2015-11-11 17:18] alecxe opened #25 "Improve valid-expect to catch defined but not called matchers"
Currently, `valid-expect` does not warn about the following invalid `expect()` usage:

[code]

In this case `toBeDefined` is there but not called.

Let me know if this makes sense to improve. If yes, I can prepare a PR. Thanks.

[2015-12-02 21:32] alecxe opened #28 "No expect in beforeEach, afterEach, beforeAll and afterAll"
Would it make sense to prohibit the usage of `expect()` inside `beforeEach`, `afterEach`, `beforeAll` and `afterAll`?

If yes, I can work on making the PR. Thanks.

[2015-12-13 09:24] ganimomer opened #29 "Rule suggestion: no-global-setup"
This rule would enforce that no `beforeEach`, `afterEach`, `beforeAll`, or `AfterAll` are defined outside a `describe`.

For example:
Invalid:

[code]

valid:

[code]

[2016-02-08 19:02] captbaritone opened #35 "Rule suggestion: prefer-tobe"
For whatever reason, people have a tendency to write:

[code]

The linter could suggest that they instead write:

[code]

That is easier to read and gives a much more meaningful error message.

[2016-02-09 08:52] tlvince commented on #35
Sounds good to me.

[2016-02-09 13:05] captbaritone commented on #35
Cool. I have a branch started. I'll open a pull request once it's ready.

As I'm working on it, it seems any combination of `===`, `!==`, and [`.not()`], `.toBeTruthy()`, `.toBeFalsy()`, `.toBe(true)`, `.toBe(false)` should probably trigger the rule.

Does that seem reasonable?

[2016-03-09 12:12] 0xR opened #43 "Definition for rule was not found"
I'm trying to use this plugin. I have this package.json:
[code]

This eslintrc:
[code]

I run `./node_modules/.bin/eslint witherror.js` and  I get these errors:

[code]

Does this plugin not work with jasmine 2?

[2016-03-10 21:57] willgm opened #44 "Failed to load plugin jasmine"
Getting the following error:

[code]

In my `package.json`:

[code]

In my `.eslintrc`:

[code]

[2016-03-22 11:33] shotmonkey commented on #43
Try defining the rules like this:

[code]

[2016-03-22 17:27] 0xR commented on #43
That's probably it. It might help if an example of this is json notation is in the README for easy copy pasting. I'll test it tomorrow.

[2016-03-24 18:18] robertfmurdock opened #46 "Unable to install master version via github, last release seems somewhat out of date"
The last version, 1.6, is giving me problems with current versions of eslint (can't find the rulesets). It looks like the master branch has changed since 1.6, though. I tried installing directly from github with NPM and that currently does not work (for me, anyway).

Sorry, that's a bit scatterbrained.

[2016-03-24 18:29] robertfmurdock commented on #46
Just confirmed things work much better with the master version. Hoping the next version comes soon!

[2016-03-24 18:29] #46 closed

[2016-03-30 02:40] tlvince commented on #46
[v1.7.0](https://github.com/tlvince/eslint-plugin-jasmine/releases/tag/v1.7.0) just landed.

[2016-03-30 03:04] robertfmurdock commented on #46
Fantastic! I'll give it a look.

On Tue, Mar 29, 2016 at 10:40 PM, Tom Vincent <notifications@github.com>
wrote:

[2016-03-30 09:21] SimenB opened #49 "named-spy throws if spy is chained"
[code]

[code]

cc @remcohaszing

[2016-04-02 11:13] cbrwizard opened #50 "Rule suggestion: newline-before-expect"
I suggest adding a new rule: `newline-before-expect`, which will serve the same purpose [`newline-before-return`](http://eslint.org/docs/rules/newline-before-return) does, except for expect.

`expect` usually is like `return` but for specs [: Clearly delineating where a spec is running an expectation can greatly increase the readability and clarity of the code.

For the use case check [this issue]

[2016-04-04 12:51] tlvince commented on #50
This is not something I'd use personally, but would be happy to include if there's interest for it. I'd suggest the rule should be opt-in (disabled by default).

[2016-04-04 13:15] #43 closed

[2016-04-04 13:40] tlvince commented on #44
Hmm, that set up looks fine to me. Does this still happen with v1.8.0?

[2016-04-13 09:21] jrencz commented on #15
there might be a variation of this rule to disable expects in `.then()/.catch()/.finally()` entirely, but it will only work as long as one passes a function into one of those, not a lexical identifier:

[code]

For Angular there's [bvaughn/jasmine-promise-matchers](https://github.com/bvaughn/jasmine-promise-matchers) providing `.toBeResolved()/.toBeResolveWith()/.toBeRejected()/.toBeRejectedWith()

[2016-04-29 19:41] triberraar opened #56 "'describe' is not defined no-undef error"
Hej,
This must be my lack of understanding, but when i add this plugin to my eslint configuration and run it i get these errors:

  4:5  error  'it' is not defined        no-undef
  5:9  error  'expect' is not defined    no-undef
  7:5  error  'it' is not defined        no-undef
  8:9  error  'expect' is not defined    no-undef

My .eslintrc looks like this:

[code]

And in my package.json i have

[2016-04-30 11:53] tlvince commented on #56
I believe you're missing the [jasmine environment](http://eslint.org/docs/user-guide/configuring#specifying-environments) there. Try:

[code]

[2016-04-30 13:28] triberraar commented on #56
That is it, can't seem to find it in the readme or it is just my lack of understanding eslint.

[2016-04-30 14:38] #56 closed

[2016-05-22 21:43] ideadapt commented on #15
@mik01aj I created a gist to illustrate the problem: https://gist.github.com/ideadapt/1d14e11841de3ede13a89d0d5e52c835

For me it would be great to have a rule that detects missing / inappropriate done calls. Since a also stumble across that issue from time to time.

I just think its not too easy to create such a rule ...

A good starting point might be, to detect if an expect call within a callba

[2016-06-02 16:30] ideadapt commented on #15
The linkes implementation is not as thorough as [the one from eslint-plugin-mocka](https://github.com/lo1tuma/eslint-plugin-mocha/blob/master/docs/rules/handle-done-callback.md).

As @mik01aj said, an unused argument would give an issue anyway. But, if you disable the "unused-var" rule, my implementation will be satisfied, since it does not verify if done is actually called.

[2016-06-07 21:04] alecxe commented on #50
Nice idea! I would actually enable that in my projects, but I agree that we should not enforce it.

[2016-06-18 23:16] alecxe opened #60 "Enforce it names to start with should"
Would it make sense to enforce that the `it()` name has to start with "should"? E.g. this would issue a warning:

[code]

This would not:

[code]

Thanks.

[2016-07-11 19:39] jnields opened #63 "no-suite-callback-args does not work with ES6 arrow function"
the following gives an error:

`describe("A suite", function(done) {});
`
but the same with an arrow function does not always report an error:

`describe("A suite", (done) => {});`

.eslintrc.json file:

[code]

[2016-07-14 11:51] nicbou opened #64 "Rule suggestion: no-tohavebeencalled"
toHaveBeenCalled should be replaced with toHaveBeenCalledWith to ensure that functions are properly called and receive the right arguments.

[2016-10-17 16:58] jnmoore-intel opened #91 "Add configuration to disable rules"
I'm getting eslint warnings for jasmine/no-suite-dupes when I have suites that use variables in their name.

this is pretty rudimentary. In my code, I have a lot more `it` suites and more logic, but that gets in the way of the example:

[code]

Running eslint on the spec generates this warning:

[code]

Like other eslint rules, I would like to configure eslint-plugin-jasmine to ignore `jasmine/no-

[2016-10-19 01:39] jnmoore-intel commented on #91
The functionality is there, and I'm able to turn off the rule with `"jasmine/no-spec-dupes": "off"` entry in my .eslintrc.json file, but the documentation should include an example

[2016-10-26 16:57] burabure opened #93 "I'd love to help maintain this project"
@tlvince didn't know where else to post this: I'd love to help maintain this project

[2016-10-26 22:37] tlvince commented on #93
Hey @burabure thanks for the interest! I've added you as a collaborator.

I think a great place to start would be to update this to support ESLint v3; there are a number of [greenkeeper](https://greenkeeper.io) pull requests open which show it's failing the tests currently. Worth a look?

[2016-10-26 22:37] #93 closed

[2016-11-04 16:49] kentor opened #97 "support node 4"
#Hi,

I think this package should support node >= 4, not node >= 6, to be aligned with ESLint.

The 2.0.0 release notes were misleading. It says "This module no longer supports Node.js 0.10" but doesn't say it only supports node >= 6. This broke when installing with yarn on node 4 because yarn checks `engines` in `package.json`.

[2016-11-04 17:31] tlvince commented on #97
Refs #96.

[2016-11-05 18:22] #97 closed

[2016-11-05 18:59] burabure commented on #91
Hey @jnmoore-intel =)
 Turning rules on or off is part of the basic eslint features: you can learn more about it here http://eslint.org/docs/user-guide/configuring#configuring-rules

[2016-11-05 18:59] #91 closed

[2016-11-05 19:05] burabure commented on #64
Agree, 99% of the time toHaveBeenCalledWith is the correct approach.

@nicbou want to give it a go?, if you never worked with eslint rules before, it's a great learning experience. You can start here: http://eslint.org/docs/developer-guide/working-with-rules and also you'll need this https://astexplorer.net/

[2016-11-05 19:12] burabure commented on #60
This is a stylistic decision, for example on my team we forbid starting with "should" and use imperative   phrasing instead.

I think it might be useful to have a rule that checks for a pattern on the it/describe descriptions

[2016-11-05 19:14] burabure commented on #50
hey @cbrwizard ! want to help with this? I'd love to pair if you like

[2016-11-05 19:17] burabure commented on #49
@SimenB I couldn't reproduce with the current version. I think this is probably solved

[2016-11-05 19:17] #49 closed

[2016-11-05 19:19] burabure commented on #63
confirmed that this is happening on 2.0, I'll try to submit a fix during the week

[2016-11-05 19:21] burabure commented on #44
couldn't reproduce, closing. Feel free to re-open with an exmaple failing repo/gist

[2016-11-05 19:21] #44 closed

[2016-11-05 19:29] burabure commented on #29
@ganimomer want to give it a go?, if you never worked with eslint rules before, it's a great learning experience. You can start here: http://eslint.org/docs/developer-guide/working-with-rules and also you'll need this https://astexplorer.net/

[2016-11-05 19:31] burabure commented on #28
@alecxe is that valid jasmine?, I never seen something like that. Have you testetd out what happens if you put `expect``in those blocks?

[2016-11-05 19:32] burabure commented on #25
(whoops, wrong button...)

[2016-11-05 19:36] burabure commented on #5
It could be useful in some very specific cases I think, but there's a lot of cases where asserting the setup of the test is very useful, or maybe we're expecting a series of things to happen.

[2016-11-05 20:37] nicbou commented on #64
I'd love to help, but I first need to get buy-in for my colleagues, since they'll be the ones fighting against the linter.

[2016-11-07 13:39] #29 closed

[2016-11-07 13:46] burabure opened #101 "Investigate no-unsafe-spy performance"
the current implementation [looks for parent nodes](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/lib/rules/no-unsafe-spy.js#L10-L18), but an approach that [takes advantage of the AST traversal](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/lib/rules/no-global-setup.js#L12-L23) could be more performant

we need to benchmark the performance of both approaches and refac

[2016-11-07 15:00] alecxe commented on #28
@burabure yeah, you can have `expect()` working in `beforeEach()` or other "setup", "teardown" functions.

[2016-11-07 21:31] #25 closed

[2016-11-07 21:32] burabure commented on #28
@alecxe want to give it a go?, if you never worked with eslint rules before, it's a great learning experience. You can start here: http://eslint.org/docs/developer-guide/working-with-rules and also you'll need this https://astexplorer.net/

[2016-11-07 21:34] alecxe commented on #28
@burabure sure, would be great, thanks.

[2016-11-21 17:46] alecxe commented on #28
@burabure trying to think of a name for this rule..but I don't like any of the names: `valid-expect-location`, `expect-location`, `unexpected-expect`, `no-expect-in-setup-teardown`..ideas? Thanks.

[2016-11-21 18:01] burabure commented on #28
`no-unexpected-expect` or `no-expect-in-setup-teardown` sound fine to me @alecxe

[2016-11-23 11:51] Moeriki commented on #29
Why is no-global-setup recommended as error? I mean, what's the down-side of having global setup. Would it be possible to add this to the docs.

[2016-11-24 10:12] ganimomer commented on #29
Using `beforeEach` and `afterEach` etc outside describe would make the callback code run before **all suites in the current test run**, not just the current file.
In most cases, this is not intentional. (And in the rare cases of doing this intentionally, the rule should be ignored/turned off for the file).

I can add it in a PR if you'd like.

[2016-11-24 11:24] Moeriki commented on #29
Thanks for explaining! I can see how that could yield unwanted side-effects. Off to fix my tests.

Rules enforcing good practices should definitely have an explanation in the docs.

[2016-11-24 17:38] alecxe opened #104 "valid-expect does not handle "not" assertions properly"
This looks like a bug to me. The [`valid-expect`](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/docs/rules/valid-expect.md) rule is complaining about a matcher not being called if there is a `.not` type assertion:

[code]

Using the latest `eslint-plugin-jasmine`. Can work on a fix. Thanks.

[2016-11-24 17:41] burabure commented on #104
yeah, this is an error, can you submit a PR?

[2016-11-24 18:12] alecxe commented on #104
@burabure yeah, sorry, that was my mistake, I will add tests and a fix. Thanks.

[2016-12-02 19:18] #104 closed

[2016-12-02 19:28] alecxe commented on #28
Fixed by #105. Thanks.

[2016-12-02 19:28] #28 closed

[2016-12-02 19:33] alecxe opened #108 "Refactor no-expect-in-setup-teardown, missing-expect and no-global-setup rules to not violate DRY"
[`no-expect-in-setup-teardown`](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/lib/rules/no-expect-in-setup-teardown.js) and [`missing-expect`](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/lib/rules/missing-expect.js) share the same `buildName` function.

[`no-expect-in-setup-teardown`](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/lib/rules/no-expect-i

[2016-12-07 14:59] eburi opened #109 "tomastrajan/jasmine-async-sugar support"
**Do you want to request a *feature* or report a *bug*?**
feature-request - or point me to where I could add it/configure it.

**What is the current behavior?**
I'm using Jasmine-Async-Sugar: https://github.com/tomastrajan/jasmine-async-sugar

Now jasmine/no-unsafe-spy reports a warning, when I use jasmine.createSpy in an itAsync-Block.

**What is the expected behavior?**

I would like to add the

[2016-12-07 15:09] burabure commented on #109
@eburi could you post a code snippet that has the problem?

[2016-12-13 10:58] eburi commented on #109
Here's an example that will currently yield give a warning.

[code]
warning  Spy declared outside of before/after/it block  jasmine/no-unsafe-spy

[2017-02-01 13:26] bmingles commented on #5
It might be nice to have a way to assert that a particular number of expect calls were made. This is particularly useful for testing callback code.

eg. something like

[code]

[2017-02-23 09:12] Valdermeyder opened #111 "Rule `no-unsafe-spy` is failed when `jasmine.createSpy` is used in function which is defined outside but called inside before/after/it"
**Do you want to request a *feature* or report a *bug*?**
I suppose it is rather new *feature* than *bug*

**What is the current behavior?**
[code]
For code above next warning will be shown `warning  Spy declared outside of before/after/it block  jasmine/no-unsafe-spy`

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Warning should n

[2017-02-23 09:32] Valdermeyder opened #112 "Rule `no-unsafe-spy` does not detect `jasmine.createSpyObj`"
**Do you want to request a *feature* or report a *bug*?**
It is rather *bug* than *feature*

**What is the current behavior?**
If you declare outside of before/after/it block
[code]
warning will not be shown

**If the current behavior is a bug, please provide the steps to reproduce.**
Use `jasmine.createSpyObj` outside of before/after/it block

**What is the expected behavior?**
Warning should be

[2017-03-22 15:25] DamienCassou opened #114 "no-spec-dupes fails if 2 specs have the same name in 2 different describes in same file"
[code]

Actual: `no-spec-dupes` is triggered
Expected: `no-spec-dupes` should **not** be triggered

eslint-plugin-jasmine version: 2.2.0

[2017-05-24 17:44] michael-smith-tanium commented on #93
There is a tool now to convert to v3 rules -- http://eslint.org/blog/2016/07/eslint-new-rule-format#automatic-transformation

[2017-06-14 16:19] alecxe commented on #114
@DamienCassou thanks for the report.

Are you sure this is not how it should be by definition? According to the [rule docs](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/docs/rules/no-spec-dupes.md#disallow-the-use-of-duplicate-spec-names-no-spec-dupes):

[code]

[2017-06-15 08:21] DamienCassou commented on #114
Thanks for the link. Apparently, I'm looking after what they call the "branch mode".

[2017-06-16 16:16] DianaSuvorova commented on #108
looks like a straightforward change to me. I will add helpers module move `buildName` and other helpers (`no-dupes` and `prohibit`) in there.

[2017-06-20 16:01] DianaSuvorova commented on #108
@burabure, since the branch got merged should we close this? And by we I mean you, I don't have permissions 😄

[2017-06-20 16:04] DianaSuvorova commented on #112
Yes, it does not. Should be an easy fix. Will do.

[2017-06-20 16:38] burabure commented on #108
:+1:

[2017-06-20 16:38] #108 closed

[2017-06-20 16:39] #112 closed

[2017-06-20 16:41] burabure commented on #108
btw @DianaSuvorova, you've been making some most needed contributions, are you interested in being a mantainer?

[2017-06-20 16:47] DianaSuvorova commented on #108
Yeah, I'd be happy to!

Here is the question - what is the strategy to advance the version of the library?
I am planning to address few more issues/ features requested here and do a minor release.

[2017-06-20 17:07] burabure commented on #108
@tlvince ping ^^^^

[2017-06-21 19:58] DianaSuvorova commented on #50
Hey @burabure, do you want me to do this?

[2017-06-21 20:01] burabure commented on #50
@DianaSuvorova sure, go ahead!

[2017-06-21 20:15] DianaSuvorova commented on #60
We could add a nlp library (for example https://github.com/nlp-compromise/compromise) to check that first word in the description is a verb. Is that the pattern you are thinking about?

[2017-06-21 20:17] alecxe commented on #60
Interesting idea to check the first word to be a verb. But, I think letting users to have a specific pattern configured would be more flexible overall. Thanks.

[2017-06-21 20:34] DianaSuvorova commented on #60
@alecxe, what pattern configurations do you have in mind? Can you provide an example?

[2017-06-21 20:36] alecxe commented on #60
@DianaSuvorova in our jasmine/protractor codebase, I would probably just enforce `^should`.

Well, ideally I mean "should do something", but it would be difficult to automate "do something" without natural language processing, as you've mentioned previously..

Thanks.

[2017-06-21 20:59] DianaSuvorova commented on #60
yeah, I am thinking of the format for rule input. It can be a nlp flag or a regex. I could check if the input is a valid nlp flag like `verb`, `noun`, (i guess that's it) and consider it regex otherwise. How does this sound?

[2017-06-21 22:19] DianaSuvorova commented on #35
I think we should generalize this rule to disallow any of the BinaryExpressions ("===", "==", "!==", "!=", ">", "<", ">=", "<=") inside `expect` in favor of corresponding  jasmine matcher (such as toBeLessThan, toBeGreaterThan etc). @captbaritone , I will be happy to take it over from you 😃

[2017-06-22 02:08] alecxe commented on #60
Sounds good, thanks!

[2017-06-22 18:29] DianaSuvorova commented on #50
@burabure, this can be closed 😄

[2017-06-22 21:57] #50 closed

[2017-06-22 22:22] ofirdagan opened #124 "breaking changes"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
undefined exception

**If the current behavior is a bug, please provide the steps to reproduce.**
After this commit:
https://github.com/tlvince/eslint-plugin-jasmine/commit/99c458db02d5410de18da2f2b2e09a911c1704a4

My build gets this message:
`TypeError: Cannot read property 'start' of undefined
    at

[2017-06-22 22:22] ofirdagan commented on #124
@DianaSuvorova

[2017-06-22 22:25] DianaSuvorova commented on #124
@ofirdagan, taking a look

[2017-06-22 22:32] DianaSuvorova commented on #124
@ofirdagan, can you provide a snippet of code around which linter fails?

[2017-06-22 22:37] ofirdagan commented on #124
@DianaSuvorova, checking

[2017-06-22 22:59] ofirdagan commented on #124
@DianaSuvorova, ok found it.. we use an helper function in our tests to wrap async tests. The helper basically has try / catch and better error handling.
So a typical test will look like:
[code]

This break the lint..

[2017-06-22 23:57] captbaritone commented on #35
@DianaSuvorova Great! Thanks.

[2017-06-23 09:16] DianaSuvorova commented on #124
@ofirdagan , Thanks a lot for reporting this!
I have reworked the  rule logic so it is much easier on assumptions about the structure of the code. And added your case to the tests.

The issue you reported should be fixed with PR #126

[2017-06-23 18:17] #124 closed

[2017-06-24 16:28] ofirdagan commented on #124
@DianaSuvorova Thank you for the quick fix!!

[2017-06-28 00:25] abejfehr opened #129 ""New line between declarations" warning at top of each test file"
**Do you want to request a *feature* or report a *bug*?**

I believe this is a bug, but I could be wrong about the expected behaviour.

**What is the current behavior?**

Currently, the first `describe()` call in any file is marked by eslint as if it's in violation of the `new-line-between-declarations` rule

**If the current behavior is a bug, please provide the steps to reproduce.**

Here's a sc

[2017-06-28 00:37] abejfehr commented on #129
Actually my mistake, I can't reproduce this with a simple test. Maybe there's something else wrong with the file and it's outputting this way. I'll keep this issue open for the next few hours until I figure out what's up.

Sorry for the noise if anyone's getting emails about this.

[2017-06-28 00:50] abejfehr commented on #129
Closing. For those that are wondering, it was something like this:

[code]

Since they didn't have a blank line between them there was a warning, but shown on line 1 for some reason.

[2017-06-28 00:50] #129 closed

[2017-06-28 16:39] DianaSuvorova commented on #114
Sounds like this is a no-issue. Doesn't look like any action is required. Should we close it, @burabure ?

[2017-06-28 17:10] #114 closed

[2017-06-28 17:21] tlvince commented on #108
@burabure sorry for missing this. Thanks for your continued work with maintaining this :1st_place_medal:

@DianaSuvorova thanks for your contributions! I've added you as a collaborator :100:

[2017-06-28 18:00] burabure commented on #108
thanks @tlvince =)  and congrats @DianaSuvorova :tada:

[2017-06-30 20:56] burabure commented on #64
@DianaSuvorova I think this is an important rule, do you have time by any chance to implement this?

[2017-06-30 21:22] DianaSuvorova commented on #64
Will do :)

[2017-06-30 21:23] DianaSuvorova commented on #35
Merged to master.

[2017-06-30 21:23] #35 closed

[2017-07-06 13:35] Moeriki opened #132 "Update loc for no-disabled-tests / no-focussed-tests"
**Do you want to request a *feature* or report a *bug*?**

Improvement.

**What is the current behavior?**

Visually annoying `loc` that covers whole function.

![image](https://user-images.githubusercontent.com/38758/27913359-287f87b6-6260-11e7-9e42-59376405f669.png)

**What is the expected behavior?**

Nice `loc` that covers function name only.

![image](https://user-images.githubusercontent.com

[2017-07-06 15:47] DianaSuvorova commented on #132
👍 Sounds reasonable to me. If you want to make PR - I will review ...

[2017-07-07 08:59] Moeriki commented on #132
In the docs for rule authors I noticed the documented usage of `context.report` is passing a single object arg.

[code]

This however isn't the case with `no-disabled-tests` and many other tests.

[code]

Converting the call from the (I presume) older format to the single-object style **fixed my issue**.

Would you mind using this new call-format project-wide?
https://github.com/tlvince/eslint-plu

[2017-07-07 20:36] DianaSuvorova commented on #132
@Moeriki , Fantastic!
Why don't you create a PR  (hit "create pull request" here https://github.com/tlvince/eslint-plugin-jasmine/compare/master...Moeriki:fix-132) and I will merge it in.

[2017-07-08 19:43] #132 closed

[2017-07-18 18:02] cbgmc opened #135 "Newline before expect is opt-out"
**Do you want to request a *feature* or report a *bug*?**
Not sure, bug maybe?

**What is the current behavior?**
Newline before expect is opt-out

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Newline before expect is opt-in

**Please mention your node.js, eslint-plugin-jasmine and operating system version.**
node: 7.9.0
eslint-pl

[2017-07-18 18:31] DianaSuvorova commented on #135
Hi Mac,

Yes, this rule was added recently and it is on by default. You can disable this rule in your project configuration.

(  for example adding below line to `.eslintrc.json`):
[code]

When the rule is off fixer will not apply the fix.

Sorry about this confusion.
-Diana

[2017-07-21 21:18] #135 closed

[2017-07-26 22:30] JELaVallee commented on #29
Adding my two cents on this one... I just ran into this on a new project where we setup a global beforeAll in our helpers for injecting common extended matchers that we use throughout our node app's specs.  E.g. using promise-matcher in code that's festooned with ES6-style promises.

Suggestion: Have the rule only applied in files that match the jasmine.json's "specs" collection so it's only appli

[2017-07-27 00:07] DianaSuvorova commented on #29
@JELaVallee , could you provide the snippet of the global beforeAll you are using in your project. How is structurally different from an invalid example for this rule ie:

[code]

[2017-07-27 02:36] JELaVallee commented on #29
Sure can!

The context in my current case is a node-express application, so, we're bootstrapping jasmine via helpers.  Helpers to provide customer stdio output, helpers for different report generation for various monitoring systems we have, helpers to provide custom logging for alerts monitoring, etc.

For the sake of my previous comment, let's use the example above of injecting the 'jasmine-node-

[2017-07-27 02:52] JELaVallee commented on #29
Oh yeah, just so you know where I got that from... It's part of the jasmine's examples: https://github.com/jasmine/jasmine/blob/8624a52ee0b6f13b3b608ea6417ccc02257c5412/lib/jasmine-core/example/spec/SpecHelper.js

So, it _is_ not a completely un-natural exception to the rule that 'no-global-setup' is intended to enforce.

[2017-07-27 11:03] emilos opened #136 "prefer-jasmine-matcher rule bug"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Linter throws an error for `expect` call expression with no arguments.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Write any spec with `expect();` and make it run through eslint

[code]

**What is the expected behavior?**

No error, the call expression shoul

[2017-07-27 17:54] DianaSuvorova commented on #136
yeah, this is a bug. Thanks for reporting! I should be able to look at this later today.

[2017-07-27 18:00] DianaSuvorova commented on #29
@JELaVallee , thanks a bunch for details explanation. Having global beforeEach/beforeAll makes sense to me.
Is it be safe to assume that the file that has global jasmine setup wouldn't have any `describe` blocks as part of the file . And the file the has describe blocks shouldn't have a global setup?

[2017-07-28 18:26] #136 closed

[2017-07-28 18:32] JELaVallee commented on #29
@DianaSuvorova No problem!  It's a sticky little detail that's not clearly documented in jasmine short of reading the source/examples in detail.

I've forked this repo and gonna see if I can get the unit test/code for no-global-setup to reflect the conditions properly, but it goes like this:

1. Inside a spec file, beforeEach/All and afterEach/All should exist only inside describe blocks since jas

[2017-07-28 18:45] DianaSuvorova commented on #29
@JELaVallee , oh I see. for the second one -  instead of checking for the filename pattern, I was wondering if we can assume that  if the whole file has 0 `describe` blocks we should skip the rule.

But I could see your approach as well. Looking forward to your PR and LMK if you need help 🙂

[2017-07-28 20:37] #63 closed

[2017-07-29 21:43] JELaVallee commented on #29
@DianaSuvorova

Have a look at #139

Ended up taking your simplified unit-isolated approach vs. the hell of injecting a mocked jasmine context with helper definitions.

Test and docs updated to reflect as well.

Cheers!

[2017-07-29 23:35] #64 closed

[2017-08-02 13:59] DamienCassou opened #140 "Skeptical about new rule prefer-toHaveBeenCalledWith"
I'm skeptical about the new rule `prefer-toHaveBeenCalledWith`. I understand that very often you want to check arguments to a spy call. But sometimes, what you care about is just that the call happened, you don't care about what were the arguments. This is for example the case when arguments are tested differently, somewhere else.

[2017-08-02 14:27] burabure commented on #140
I don't think being explicit about the parameters that you're looking creates a problem on any test. `toHaveBeenCalled` is very misleading and it frequently hides bugs and false positives on specs.

If you have an issue using `toHaveBeenCalledWith` on some spec, I'd be happy to take a look at the snippet =)

[2017-08-03 08:36] DamienCassou commented on #140
I should have started saying I really like the new rule `prefer-jasmine-matcher` :-).

Regarding `prefer-toHaveBeenCalledWith`, my point is: sometimes I just don't care about what arguments are passed to the spy. I would like to be able to express this. Said differently: for some tests, if I use `prefer-toHaveBeenCalledWith` and if, later, the system changes in a way the argument changes, I don't

[2017-08-03 08:42] DamienCassou commented on #140
Apparently, this idea

[code]

is somewhat already possible:

[code]

but this only work for non-null and non-undefined parameters.

[2017-08-03 13:33] burabure commented on #140
That is one of the issues of using `toHaveBeenCalled`, behavior can drastically change on the tested logic but tests would still pass.

If your issue is one of granularity and testing strategy (I don't care what's fired on some specs, becase I'll test it on a dedicated spec), using `jasmine.any(SomeType)` is the way to go.

[2017-08-08 17:04] surdu opened #141 "new-line-before-expect improvement"
The following example I feel it should not trigger a `new-line-before-expect` warning:

[code]

[2017-08-08 19:45] burabure commented on #141
@DianaSuvorova I think this is valid improvement. what do you think?

[2017-08-09 23:02] DianaSuvorova commented on #141
Yes, good suggestion! Will do.

[2017-08-10 08:21] surdu commented on #141
@DianaSuvorova May I have a try at fixing this?

[2017-08-10 14:29] DianaSuvorova commented on #141
@surdu , Yes, of course! You are now officially assigned to the ticket 🙂

[2017-08-10 17:24] DianaSuvorova commented on #140
There is always an option to update the repo's `.eslintrc.json` file to overwrite default rule configuration.
What I saw in other eslint plugins - The default settings tend to be permissive rather than strict. So if there is any controversial rule it would be `off` by default.
@burabure, I think we should follow this practice and accept @DamienCassou PR. Let me know if you have any objections.

-D

[2017-08-10 19:14] burabure commented on #140
@DianaSuvorova I agree that plugins should keep defaults permissive, but I don't think there's an issue on this case. What @DamienCassou is explaining seems more like a problem with a particular testing style to me than the rule being too strict.

My reasoning is basically this: `toHaveBeenCalled` is considered a code smell because of it's vagueness and it's a proved fact that it causes false posi

[2017-08-10 21:07] #141 closed

[2017-08-10 21:14] DianaSuvorova commented on #140
I don't have a strong opinion either way. Let's keep the issue open to see if there is enough signal to make the change.

[2017-09-06 08:44] seb0zz commented on #140
@burabure do you have an example of `toHaveBeenCalled` producing false positives?

[2017-09-06 13:24] burabure commented on #140
@seb0zz not at hand, we solved those a long time ago in my company. but it's easy to imagine how a function is called with the wrong callback or with completely wrong arguments that causes bugs and the spec still passes

[2017-09-06 13:30] seb0zz commented on #140
Yeah I get your point but what if a method doesn't expect any parameters and you only want it to be called? Could be something like an `increment()` method? Then `toHaveBeenCalled` would make sense I think.

Also - if `toHaveBeenCalled` would be a bad practice wouldn't it be a better approach to create an issue on Jasmine trying to get rid of the method by deprecating it?

[2017-09-06 13:58] burabure commented on #140
like I said before, that is dependent of your code style (functional vs imperative in this example), and you can still do the same and be more specific by using `toHaveBeenCalledWith()`

that discussion is completely out of the scope of this library, eslint rules are meant to enforce good practices, so if all libraries (and the language) did that by default, basically eslint wouldn't exist.

[2017-09-06 14:52] DamienCassou commented on #140
Here is an example of what I mean:

[code]

in this example, I don't care that the DOM passes a mouse event to `closeContextMenu()` (this function does not even declare an `event` argument). I just want to check that the function is called.

[2017-09-06 17:00] burabure commented on #140
@DamienCassou I'd use `jasmine.any(Event)`, but you can also use `jasmine.anything()` or if you dislike doing this and you find yourself needing it for a spec, just disable the rule for that file with a comment at the top; at last if your codebase doesn't really benefit or just don't like the rule you can just disable it on your `.eslintrc`

[2017-09-07 07:01] DamienCassou commented on #140
@burabure: Thank you for your answer. I know about the workarounds. My point was that this new rule tags reasonable code as invalid and this annoys me. I think I explained my case enough and give a reasonable example of code. If you still disagree, you may want to close the ticket.

[2017-09-07 13:16] burabure commented on #140
just for the sake of clearness before closing this I'll reiterate why I think this rule is important so that people searching for this have an easy time finding them before opening a new issue.
- `toHaveBeenCalled` is considered a code smell because of it's vagueness
- It causes false positives on specs
- Behavior can drastically change on the tested logic but tests would still pass
- It can (and

[2017-09-07 13:16] #140 closed

[2017-09-27 22:59] lukas-gitl opened #144 "Feature Request: Break jasmine/valid-expect into separate rules"
We would like to suppress only some warnings for this rule.

E.g. we use
(1) dynamically evaluated expect and
(2) custom messaging with `expect(..., "custom message").to.equal(...)`
However the other warnings are still valid for us.

By breaking the rule into separate rules we would obtain the desired fine control over the warnings.

[2017-09-29 13:57] Moeriki opened #145 "beforeAll inside describe.only triggers no-global-setup"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

[code]

**What is the expected behavior?**

No warning.

[2017-09-29 16:21] DianaSuvorova commented on #145
Is `describe.only` equivalent to `ddescribe`? Or it is something else?

[2017-09-29 16:25] Moeriki commented on #145
Since jest@21 it allows two styles of focus / skip.

`describe.only` is equivalent of `fdescribe` (focus)
`describe.skip` is equivalent of `xdescribe` (skip)

I don't know ddescribe :)

[2017-09-29 16:35] DianaSuvorova commented on #144
@lukas-gitl could you provide an example for `dynamically evaluated expect` case.
And for custom message for expect. Is it part of core jasmine library or some extension? Can you provide a link to docs?

[2017-09-29 17:03] DianaSuvorova commented on #145
`ddescribe` is same as `fdescribe` depends on the version of jasmine.
Let me look into `.only` and `.skip` syntax.

[2017-09-30 03:13] lukas-gitl commented on #144
@DianaSuvorova
(1) sure
[code]
called with e.g.
[code]
(2) not officially documented, but it seems to work great

We just want a way to suppress some warnings for this rule while keeping the others. Alternative is to disable it and pull it in as a custom rule. Which might actually be what we end up with...

[2017-10-01 06:55] #145 closed

[2017-10-01 23:56] DianaSuvorova commented on #144
I would agree, technically `valid-expect` rule does 2 checks in one: `expect-has-one-argument`, `no-expect-without-matcher`.  I think breaking this into 2 rules is a good idea. We would need to deprecate `valid-expect` and introduce 2 new rules. @burabure , thoughts?

[2017-10-04 00:21] lukas-gitl commented on #144
This is what we are using now (custom rule):

[code]

[2017-10-04 01:44] DianaSuvorova commented on #144
This makes sense to me. Let me look into proper way of deprecating rules and replacing it with new one(s).

[2017-10-06 17:18] #144 closed

[2017-10-06 19:56] lukas-gitl commented on #144
Sweet, thank you!

[2017-10-06 20:15] lukas-gitl commented on #144
Just curious, is https://github.com/DianaSuvorova/eslint-plugin-jasmine/blob/e647aff743c59b297766927fc5cb3b6796c10800/lib/rules/expect-matcher.js supposed to now allow for our use case: https://github.com/tlvince/eslint-plugin-jasmine/issues/144#issuecomment-334016490? Because it doesn't seem to work.

[2018-02-27 16:39] JaySeeAre opened #156 "Getting Error: ESLint: Cannot read property 'body' of undefined"
**Do you want to request a *feature* or report a *bug*?**
*Bug*
**What is the current behavior?**
Intermitently while editing tests in VSCode I am getting an error:
`ESLint: Cannot read property 'body' of undefined. Please see the 'ESLint' output channel for details.`
In the output channel I have:
[code]
It looks like there is just an extra check that is required on line 46 of `new-line-between-de

[2018-02-27 16:50] burabure commented on #156
thanks for debugging this! a PR would be awesome!

[2018-02-28 14:25] #156 closed

[2018-03-25 14:03] yaarams opened #158 "no-promise-without-done-fail"
**Do you want to request a *feature* or report a *bug*?**
I would like to suggest a new rule to make sure that there are no tests with promises without handling rejection flow. It is common to check only happy flows and in this case jasmine will fail with timeout instead of showing a real error.

**What is the current behavior?**
There is no such rule

**If the current behavior is a bug, please pr

[2018-04-20 19:40] jpickwell opened #160 "The prefer-toHaveBeenCalledWith rule name isn't consistent with other rule names."
Rule names should be snake-case to be consistent with ESLint rules. `prefer-toHaveBeenCalledWith` violates this consistency. It should instead be `prefer-to-have-been-called-with`.

[2018-04-20 19:53] burabure commented on #160
in this case `toHaveBeenCalledWith` refers to a particular methodName so it's written verbatim. To be fair both rule namings would be correct.

[2018-04-23 13:50] jpickwell commented on #160
I guess. This is the first time I've seen camel-case used in an ESLint rule and it not be corrected. Different experiences I guess.

[2018-04-23 16:07] #160 closed

[2018-05-02 15:16] calling opened #161 "new-line-before-expect fails when returning or awaiting an expect"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Returning and awaiting an expect results in a rule failure

**If the current behavior is a bug, please provide the steps to reproduce.**
Here are some examples:
[code]
[code]

Both from [Jest's docs](https://facebook.github.io/jest/docs/en/expect.html#resolves).
**What is the expected behavior?**
Return

[2018-05-08 17:33] kaicataldo commented on #161
Hi, I'm not a maintainer but would you mind including the actual error output? It's really helpful in debugging/understanding what's going on.

[2018-05-08 18:45] calling commented on #161
@kaicataldo it looks like this:

[code]

[2018-06-25 19:03] vort3xxx opened #164 "no-spec-dupes branch scoping fails when describe blocks are defined with template literals as the name"
I have a few specs that use template literal strings as the titles.  The it blocks beneath seem to get grouped together as one big describe when evaluating duplication, even with the branch scope mode enabled.

My config looks like this:
[code]

My describe blocks follow this general shape:
[code]

karma/jasmine execute the tests normally and emit the correct spec titles in the output, however the

[2018-06-25 19:12] vort3xxx commented on #164
Further investigation seems to indicate that this happens with string constants as well.  No template literal necessary.  Any sort of evaluation yields this warning.

[2018-07-26 07:48] sebastianzillessen commented on #111
Hello! I have the same issue:

    describe("someTest", ()=>{
        it("test1", ()=>{
            createSpy();
        })
        it("test2", ()=>{
            createSpy();
        })
    })
    function createSpy(){
        return jasmine.createSpy('validate() spy')
    }

Causes a

    warning  Spy declared outside of before/after/it block  jasmine/no-unsafe-spy

Warning.

[2018-07-27 21:36] Gerst20051 commented on #161
I am also experiencing this issue. For now, I need to add the following comment for the error to go away.

`// eslint-disable-next-line jasmine/new-line-before-expect`

[2018-08-09 13:30] davidje13 opened #165 "no-promise-without-done-fail warns incorrectly in some cases"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Linting reports `An "it" that uses an async method should handle failure (use "done.fail")` even when `done.fail` is included (from PR #158).

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
No error in this situation. It should b

[2018-08-14 17:20] vort3xxx opened #166 "Feature request: no-unsafe-user-context"
According to https://gist.github.com/traviskaufman/11131303

Jasmine resets the userContext object (manifested as `this` for each spec file) after each spec file, which encourages a convention where the developer should declare any highly scoped variables as children of the `this` object rather than with individual `var` or `const` statements at the top of the file.   It will guarantee that memory

[2018-08-14 18:28] vort3xxx commented on #166
Closing.   Its already a thing: `no-describe-variables`

[2018-08-14 18:28] #166 closed

[2018-08-29 15:19] BenjaminVanRyseghem opened #167 "no-spec-dupes false positive when nesting describes"
**Do you want to request a *feature* or report a *bug*?**

a bug

**What is the current behavior?**

When describes are nested, two inner describe with the same name fails.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

It should detect that foo.baz and bar.baz are different.

**Please mention your node.js, eslint-plugin-j

[2018-08-29 15:22] BenjaminVanRyseghem commented on #167
same goes with `no-spec-dupes`.

Same spec name in two different suites fails

[2018-09-20 09:25] ganimomer opened #168 "New Rule - enforce ordering of 'it', 'describe' etc within suites"
**Do you want to request a *feature* or report a *bug*?**
New Feature
**What is the current behavior?**
N/A
**If the current behavior is a bug, please provide the steps to reproduce.**
N/A
**What is the expected behavior?**
I'd like a new rule (can be named something like `suite-order`) that allows me to enforce the order of `beforeEach`, `afterEach`, `beforeAll`, `afterAll`, `it` and `describe` w

[2018-10-16 13:28] bertBruynooghe opened #169 "support for async matchers"
**Feature request**

**Current behavior?**

e.g. `await expectAsync(new Promise...` triggers `'expectAsync' is not defined`

**What is the expected behavior?**
At least it should pass wit

**Please mention your node.js, eslint-plugin-jasmine and operating system version.**
Node: 9
eslint-plugin-jasmine: 2.10.1
os: MacOS, docker node:9-alpine
jasmine 3.2.0

[2018-10-17 10:17] briandipalma opened #170 "`new-line-before-expect` not ignoring earlier `expect`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

The second expect raises a `new-line-before-expect` warning:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Code above.

**What is the expected behavior?**

Based on this documentation (also common sense): https://github.com/tlvince/eslint-plugin-jasmine/blob/ma

[2018-10-26 18:17] mikegreiling commented on #170
I can confirm this one as well.  It is quite annoying!  I believe it only happens when an `expect` spans multiple lines.

<img width="520" alt="screen shot 2018-10-26 at 1 15 22 pm" src="https://user-images.githubusercontent.com/812328/47584876-6f583500-d921-11e8-9072-df0a1c292776.png">

[2018-12-13 22:22] lflpowell opened #171 "Add deprecated meta data to any deprecated rules"
As per the [ESLint documentation](https://eslint.org/docs/developer-guide/working-with-rules#rule-basics) it is possible to add meta data to rules to indicate deprecated status. This metadata is used by packages such as [`eslint-find-rules`](https://www.npmjs.com/package/eslint-find-rules) to help developers find rules in their shared configuration that are deprecated.

Would it be possible to add

[2019-01-02 21:22] phani17c opened #173 "expect in separate function"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
If the expect in separate function, how we can let eslint know there are expects
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
eslint should allow expect to be declared in separate functions
**Please mention your node.js, eslint-plugin-jasm

[2019-01-07 20:15] asapach opened #174 "expect-matcher doesn't work correctly inside arrow function expression"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`expect-matcher` rule doesn't detect the missing matcher inside arrow function expression:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
**What is the expected behavior?**
The expected error message is:

It does work correctly for statement block though:
[c

[2019-01-09 15:39] asapach opened #176 "expect-single-argument flags expect().nothing()"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`expect().nothing()` is a valid statement, but is being reported by `expect-single-argument`:

**If the current behavior is a bug, please provide the steps to reproduce.**
Default `jasmine/recommended` settings.

**What is the expected behavior?**
[`expect().nothing()`](https://jasmine.github.io/api/ed

[2019-01-16 17:06] quiqueg opened #177 "Feature request: no-describe-context"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The `no-describe-variables` rule prevents developers from creating variables inside `describe` blocks, instead encouraging them to make use of Jasmine's user context feature (`this` inside `before*`, `it`, and `after*`). However, developers may not know that the user context feature doesn't work in

[2019-01-30 13:09] kazooiebombchu commented on #111
I'm also faced the same problem when I tried to declare helper function which will return a spy. I'm ended up disabling this rule for now.

[2019-02-12 19:17] jscharett opened #178 "Enhqance no-promise-without done-fail"
**Do you want to request a *feature* or report a *bug*?**
Enhance a current rule: no-promise-without-done-fail

**What is the current behavior?**
The rule currently requires done to be called by an async test

**What is the expected behavior?**
The jasmine spec allows for you to simply return the promise to the spec or mark the spec function as async.  This rule should be modified to allow these c

[2019-03-07 11:41] cmacdonnacha opened #179 ""no-focused-test" rule not working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
"no-focused-test" rule not working

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Add specified instructions from readme

**eslint file:**

[code]

**Unit test:**

[code]

**What is the expected behavior?**
An error should occur because I have specified a test with fde

[2019-03-07 16:54] cmacdonnacha commented on #179
My bad, I was actually ignoring my *spec.js* files from eslint.

[2019-03-07 16:54] #179 closed

[2019-04-08 16:03] elliot-nelson commented on #60
If this existed, we would use it as well!

(In our case, we'd just want to ban the word "should" entirely.)

[2019-04-15 18:32] antgonzales opened #181 "Fix security warnings related to growl"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
When I install the latest version, my Github security alerts trigger due to a dependency growl@1.9.2 which should be updated >= 1.10.0
https://github.com/tlvince/eslint-plugin-jasmine/blob/master/yarn.lock#L1089
https://nvd.nist.gov/vuln/detail/CVE-2017-16042

**If the current behavior is a b

[2019-08-20 11:06] sidvishnoi commented on #169
I think this would be handled by eslint globals instead.

[2019-08-20 11:17] bertBruynooghe commented on #169
@sidvishnoi Can you please elaborate? Is there a way we could it get working now?

[2019-08-20 11:23] sidvishnoi commented on #169
This project's readme says:

meaning globals are not handled here.

So, we can add to following to `.eslintrc.yml`:
[code]

It would be a workaround until  https://github.com/sindresorhus/globals/pull/152 is merged and included in eslint

[2019-08-20 13:22] bertBruynooghe commented on #169
ok, thx, makes sense.

[2019-09-28 17:22] damianobarbati opened #187 "Atom/eslint complains in every non "jasmine" file"
**Do you want to request a *feature* or report a *bug*?**
Probably a bug because unintended behaviour.

**What is the current behavior?**
Once eslint-jasmine-plugin has been setup, Atom is complaining atop of every file (errors in the screenshot)

**If the current behavior is a bug, please provide the steps to reproduce.**
atom + the following .eslintrc:
[code]

**What is the expected behavior?**

[2019-09-28 17:26] damianobarbati commented on #187
Never mind, missed "plugins" section in my eslintrc.

[2019-09-28 17:26] #187 closed

[2019-10-01 20:26] GreenGremlin commented on #165
This is also an issue for me. I'd rather not have to rewrite tests in an unintuitive way to accommodate this behavior.

[2019-10-01 20:49] GreenGremlin commented on #111
Same here. Any ideas on a possible fix for this rule?

[2019-10-02 10:58] Kazhuu commented on #111
I just disabled because couldn't figure out any other way to fix this issue at the moment.

[2019-11-09 14:17] tlvince commented on #181
Closed by d7aa95de

[2019-11-09 14:17] #181 closed

[2019-12-13 07:27] BO41 opened #208 "Definition for rule toBeUndefined was not found.eslint(jasmine/toBeUndefined)"
**Describe the bug**

`Definition for rule 'jasmine/toBeUndefined' was not found.eslint(jasmine/toBeUndefined)`

**To Reproduce**

add  `"jasmine/toBeUndefined": 2` or `"jasmine/prefer-toBeUndefined": 2` to your eslintrc.json
(not sure if the rule is called "prefer-toBeUndefined" or just "toBeUndefined")

**Context**

- eslint-plugin-jasmine version: 4.1.0
- eslint version: 6.7.2

[2020-01-13 13:53] balakumaran-k opened #216 "New rule to verify the expect arguments should not be as toBe arguments"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

[2020-04-12 14:25] DamienCassou opened #230 "jasmine/no-focused-tests' endLine includes too much of the test"
**Describe the bug**

`jasmine/no-focused-tests` returns an `endLine` value that represents the whole test. This makes it particularly inconvenient to code on a `fit` test. As you can see, [everything is underlined](https://github.com/flycheck/flycheck/issues/1730):

![2020-04-12-161219](https://user-images.githubusercontent.com/217543/79070829-68b9ab00-7cd8-11ea-884e-e09798d24678.png)

[code]

**

[2020-04-12 15:06] DamienCassou commented on #230
Please see #231 for a fix.

[2020-04-13 11:51] tlvince commented on #230
Closed by 796dddf

[2020-04-13 11:51] #230 closed

[2020-04-17 19:36] popedog opened #233 "no-describe-variables does not work if spec definition is an arrow function"
**Describe the bug**
The rule 'no-describe-variables' does not work if spec definition is an arrow function.

// Works - error thrown
`describe('', function() {`
`let sampleVar;`
`}`

// Does not work - no error
`describe('',() => {`
`    let sampleVar;`
`}`

**To Reproduce**

1.  Turn the rule on
2.  set a variable under a describe.
3.  The describe should use an arrow function for its spec defin

[2020-05-26 09:14] #208 closed

[2020-06-15 05:18] BePo65 opened #244 "Support ESLint 7.x"
ESLint [v7.0.0 ](https://eslint.org/blog/2020/05/eslint-v7.0.0-released) is released .

It would be awesome to have official ESLint 7 support.

[2020-09-10 08:01] raeffu commented on #176
I have the same problem.

[2020-10-21 20:52] guilhermetod commented on #111
I don't, think there's much this plugin can do, as it can't preview how this function is going to be used, unless it keeps a track of everytime the function is called.

The alternatives are 1) obviously, disable the rule for the function block and 2) the following:

[code]

[2020-12-30 22:34] ovanderzee commented on #170
I see this bug too, with multiline expect statements like these two times:

            expect(spyConsoleWarn).toHaveBeenCalledWith(
                `inactivityListener rejected unknown-event`,
            )
            expect(spyConsoleWarn).toHaveBeenCalledWith(
                `inactivityListener rejected useless-event`,
            )
            expect(spyAddition).toHaveBeenCalledTimes(0)

es

[2021-02-01 19:21] libinvarghese opened #300 "Definition for rule 'jasmine/prefer-toBeUndefined' was not found"
I get `Definition for rule 'jasmine/prefer-toBeUndefined' was not found` when I use ` 'jasmine/prefer-toBeUndefined': 'warn',`

`.eslintrc.js`
[code]

**Context**

- Node.js version: 14
- eslint-plugin-jasmine version:4.1.1
- eslint version: 7.18.0
- Operating system: macOS High Seirra

[2021-02-02 04:02] #300 closed

[2021-02-02 05:38] tlvince commented on #300
:tada: This issue has been resolved in version 4.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jasmine)
- [GitHub release](https://github.com/tlvince/eslint-plugin-jasmine/releases/tag/v4.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-19 15:26] tva-TIS commented on #170
Probably same reason as #161, everything that is not a line starting with `expect(` is invalid.

[2021-04-15 14:09] labeled opened #314 "Is no-unsafe-spy still an issue if 'let' is used?"
**This is not a problem but could be an improvement to the no-unsafe-spy rule**

**Can the rule be updated to allow spies set as lets?**

[2021-04-18 12:14] raphinesse opened #316 "Rule proposal: Test function bodies should always be blocks"
Would there be interest in a rule that enforces that test function bodies always be blocks?

[code]

[Implementation prototype with samples](https://astexplorer.net/#/gist/756c9eddeac447fd247a0bf8fdedbf40/c56cc7430493ddb01183cd80fd7a4681b9e68210)

[2021-04-21 16:22] DianaSuvorova commented on #316
Yes! New rules are welcome!

I wouldn't include this one as an error for default configuration, but definitely would be a good contribution so people can decide if they want this as a convention for their projects.

[2021-06-02 11:54] felipeissa opened #324 "new-line-before-expect should not require new line on single block"
**Describe the bug**

According to the new-line-before-expect documentation, the following is not a warning:

describe("", function() {
  it("", function() {
    expect(1).toBe(1);
  });
});

However I'm receiving a warning for this line of code, which has the same structure.

of(null).subscribe(() =>
  expect(spy).toHaveBeenCalled()
);

but if I add braces, it doesn't fail:

of(null).subscribe(()

[2021-08-24 18:46] jordanorc commented on #161
Any upgrade on this?

[2021-08-24 18:55] #161 closed

[2021-08-24 18:58] DianaSuvorova commented on #161
@jordanorc thanks for the ping! @bmv437 has provided a fix that I believe should address the reported issue. Th version with a fix should get released as soon as the pr merges. Please feel free to open another issue if the problem persists.

Thank you!

[2021-09-02 20:18] jakehockey10 commented on #140
I wasn't sure if this was worth opening a new issue or not, especially since this isn't a bug report.  But I'm wondering what is the intended process of handling expecting a method/function to be have been called, adhering to the prefer-toHaveBeenCalledWith rule, when the method/function is parameter-less.  I can't seem to adhere to the rule and have the test pass.  Do I just mark that line with i

[2021-09-02 20:19] jakehockey10 commented on #140
oops.  Well I could just try not passing anything into `toHaveBeenCalledWith`.  That seems to work.  False alarm

[2021-09-28 11:01] strigefleur opened #340 "expect unbound-method"
**Is your feature request related to a problem? Please describe.**

Having `expect` with some spyObj call produces eslint warning `unbound-method`.

**Describe the solution you'd like**

Integrate existing rule like [Jest plugin has](https://github.com/jest-community/eslint-plugin-jest/blob/main/docs/rules/unbound-method.md).

Here's snippet from the link provided:

[code]

[2021-11-07 03:00] lachieh commented on #244
Suggest changing the name of this to `Support ESLint 8.0`. Currently there are errors when using this package due to this change:
https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0#fixes

[2021-11-15 07:28] DamienCassou opened #342 "Release a new version"
Some bugs have been fixed in master that prevented this package from running with eslint 8. I suggest releasing a new version of this package so everyone can upgrade to eslint 8 without problem.

[2021-11-15 07:30] DamienCassou commented on #244
The latest (unreleased) version of eslint-plugin-jasmine works fine with eslint 8. I suggest closing this bug and [releasing a new version of eslint-plugin-jasmine](https://github.com/tlvince/eslint-plugin-jasmine/issues/342) instead.

In the meantime, you can

[code]

(or the equivalent NPM command) to force using an unreleased version of the package.

[2021-11-18 10:10] IDarlingAS opened #343 "False positive with jasmine/no-suite-callback-args when using typescript and specifying a "this" type in a function definition."
**Describe the bug**

When writing code using typescript, you can specify a type for "this" as part of a function declaration.
This isn't an actual parameter to the function, but is defined like one.

(See https://www.typescriptlang.org/docs/handbook/2/functions.html#declaring-this-in-a-function for details)

You can use this in a jasmine test suite to specify things like spies, etc that are assig

[2021-11-23 10:13] kshilnov commented on #342
Great idea

[2021-11-24 11:26] dima716 commented on #342
Yes, I confirm there are problems with using this plugin with eslint 8. Master branch has necessary fix.

[2021-11-24 11:27] dima716 commented on #342
@tlvince will you look at it, please?

[2021-11-24 12:03] tlvince commented on #161
:tada: This issue has been resolved in version 4.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jasmine)
- [GitHub release](https://github.com/tlvince/eslint-plugin-jasmine/releases/tag/v4.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-24 12:08] tlvince commented on #342
Done, thanks https://github.com/tlvince/eslint-plugin-jasmine/releases/tag/v4.1.3.

(Automated releases had stopped because of the Travis CI org shutdown. I've migrated it to Travis com.)

[2021-11-24 12:08] #342 closed

[2021-12-22 15:20] guoliang opened #344 "False positive warning on Spy declared outside of before/after/it block"
**Describe the bug**

The following snippet gives me the following lint warning

[code]

Should this be okay? or I shouldn't declare spies like so?

**Context**

- Node.js version: v14
- eslint-plugin-jasmine version: 4.1.3
- eslint version: 7.32.0
- Operating system: win10

[2022-01-10 16:39] IDarlingAS commented on #343
The fix in my fork above requires tests - I've tried to add them, but it requires switching the tests to use the typescript parser, etc, which was more time than I have available at present.

[2022-06-28 09:25] rklec opened #350 "Rule to recommend toHaveBeenCalledOnceWith instead of toHaveBeenCalledTimes(1) and toHaveBeenCalledOnceWith()"
**Is your feature request related to a problem? Please describe.**

Usually you can write code like this:
[code]

**Describe the solution you'd like**
I want a warning that tells me I should use this:
[code]

All these methods are part of standard jasmine: https://jasmine.github.io/api/edge/matchers.html

**Describe alternatives you've considered**
N/A

**Additional context**
This may technically

[2022-06-28 11:16] rklec opened #352 "new rules: prefer-toBeNull / prefer-toBeTrue / prefer-toBeFalse"
**Is your feature request related to a problem? Please describe.**

Incorrect code should be:
[code]

**Describe the solution you'd like**

It should sugest a correction to
[code]

This exists since [jasmine v1.3.0](https://jasmine.github.io/api/edge/matchers.html).

**Describe alternatives you've considered**

**Additional context**
The same may be done with `toBeTrue()`/`toBeFalse()`.

These are

[2022-07-04 18:10] rklec opened #353 ".not.toHaveBeenCalledTimes instead of toHaveBeenCalledTimes(0)"
**Is your feature request related to a problem? Please describe.**
Simjilar to https://github.com/tlvince/eslint-plugin-jasmine/issues/350 it would be good to force the proper syntax `.not.toHaveBeenCalled();` instead of `toHaveBeenCalledTimes(0)`.

**Describe the solution you'd like**
A warning as described in the other linked issue.

**Describe alternatives you've considered**
N/A

**Additional

[2022-08-08 11:47] C0DK opened #354 "new-line-before-expect doesn't allow multiline expects."
**Describe the bug**
[new-line-before-expect](https://github.com/tlvince/eslint-plugin-jasmine/blob/master/docs/rules/new-line-before-expect.md) doesn't see preceding expect if it's in a multiple case.

i.e this fails (on the last line):
[code]
This does not
[code]

**To Reproduce**

[code]

**Expected behaviour**

That it wouldn't fail

**Context**

- Node.js version: 17.9.0
- eslint-plugin-jasmi

[2022-08-22 12:25] pascal-puetz opened #355 "prefer-toBeUndefined produces AssertionError on found error"
**Describe the bug**

The `jasmine/prefer-toBeUndefined` rule produces an Assertion error when any spec file is found that contains a hit (e.g. `expect(undefined).toBe(undefined)` with `{"jasmine/prefer-toBeUndefined": "error"}` config).

The error only occurs on versions 4.x.x and did not occur on 3.0.0.

**To Reproduce**

Set the `jasmine/prefer-toBeUndefined` config to `"error"` and produce an

[2022-09-13 07:17] antonborisoff opened #356 "no-suite-dupes doesn't detect dupes over multiple files"
**Describe the bug**

**To Reproduce**

**Expected behaviour**

**Context**

- Node.js version: 16.13.2
- eslint-plugin-jasmine version: 4.1.3
- eslint version: 8.18.0
- Operating system: Windows 10

Is it expected or not? If it is expected, then it should be clarified in the rule docs.

[2022-09-25 07:53] netdjw opened #357 "Plugin not wokring in VSCode"
**Describe the bug**

I followed the documentation to set up this plugin in my project, and I created this `.eslint.json` file:

[code]

I use VSCode as code editor (I don't know is this mean something or not).

In the OUTPUT I see this:

[code]
So there is no error or warning.

**To Reproduce**

Create this spec.ts file:

[code]

So I broke several rules with this code, like `missing-expect`, `ne

[2022-10-11 22:47] OsamaYousry commented on #357
I built a minimum reproduction environment just to make sure and here's what I found:
Your rules should be prefixed with jasmine/

so they should look like this:

[code]

[2022-10-13 08:34] OsamaYousry commented on #233
@DianaSuvorova should this be closed now?